# The shamefully-hoist=true setting is not strictly necessary if all your dependencies are 
# already in the root node_modules directory and you are not experiencing any issues with package resolution.

# However, it can be useful in the following scenarios:

# Compatibility: Some packages expect a flat node_modules structure and may not work correctly 
# with pnpm's default nested structure.
# Legacy Code: If you are working with legacy codebases or dependencies that assume a flat structure, this 
# setting can help avoid issues.

shamefully-hoist=true
